# HW 12 - Introduction to Pandas
ULAB - Physics and Astronomy Division \
Due **Sunday, February 9th, 2025 at 11:59pm** on Gradescope

------
## 0 Academic Integrity
Please type the following message in the cell below as a comment. Sign with your name.

------
**I certify that I did not use AI tools, such as ChatGPT, to generate or write code for this assignment. All work submitted is my own and reflects my understanding of the material.**

------

In [1]:
# Your comment here

------
## 1 Real Exoplanet Data!
Start by importing `pandas` into your Jupyter notebook.

In [81]:
# Your code here

With a pandas dataframe, import the `exoplanet_data.csv` file. If you are curious this data is pulled directly from: https://exoplanetarchive.ipac.caltech.edu/. Due to the formating you will want to add the argument `comment='#'` to statement.

In [82]:
# Your code here

Print the headers of your dataframe.

In [61]:
# Your code here

Print the columns of your dataframe as a list.

In [62]:
# Your code here

Print the row of the dataframe called "pl_name", this stands for *planet name*.

In [63]:
# Your code here

Print how many planets there are.

In [64]:
# Your code here

Make a new variable called `planet_data`. With a dataframe assign the variable the columns associated with the planet's names, planet's Earth radii, planet's Jupiter masses and planet's equilibrium temperatures. *Hint: It should look something like, `['pl_name', 'RADII', 'MASS', 'TEMPERATURE']` but with the proper column names.*

In [65]:
# Your code here

Print your new `planet_data` variable.

In [66]:
# Your code here

------
## 2 Plotting
Make a scatter plot of **exoplanet Earth radius vs. equilibrium temperatures**. Include units, x/y axis labels, and a legend.

In [67]:
# Your code here

What trend do you notice in the data? Does it have positive or negative correlation?

In [68]:
# Your comment here

------
## 3 A "Cool" Planet
What planet has the **lowest** equilibrium temperature? Print the planet name and temperature with your `planet_data` variable.

In [69]:
# Your code here

Make a new variable that only contains the information for that planet. \
\
*Hint: Use the `.iloc[[#]]` function. Replace # with the proper index.*

In [70]:
# Your code here

Print the number of columns in the row.

In [71]:
# Your code here

Make a new variable that contains only the columns WITHOUT `Nan` values. *Hint: You can use the function `.dropna(axis=1)`.*

In [72]:
# Your code here

Print how many columns you have now.

In [76]:
# Your code here

Download this paper: https://www.nature.com/articles/s41586-024-07837-8. What is the title of this paper?

In [73]:
# Your comment here

What are the main conclusions from the paper? Do you trust their methods? Why would they be questionable?

In [ ]:
# Your comment here

The planet with the **lowest effective temperature** from your `exoplanet_data.csv` file should match the planet from the paper you just downloaded. What values for the `.csv` file match the ones in the paper?

In [74]:
# Your comment here

Which values from the `.csv` file I provided you DON'T match the ones from the paper?

In [75]:
# Your comment here

In the paper, find the age of the planet. What is the age, with error, of the planet?

In [77]:
# Your code here

Create a new column called `Age` with your new variable and assign it the proper value.

In [78]:
# Your code here

## 4 Make a New `.csv` File

To a new `.csv` file, save the planet WITHOUT the Nan rows and WITH the `Age` column added.

In [ ]:
# Your code here

Turn in this jupyter notebook to gradescope with your NEW `.csv` file.